@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;

  @apply bg-primaryColor text-textBody
}

h2 {
  @apply text-4xl font-medium
}

.center-element {
  @apply w-[90%] 3xs:w-[90%] max-w-[21.063rem] md:max-w-[80rem] mx-auto
}

.label-input-wrapper {
  @apply flex flex-col gap-3
}

.label-input-wrapper label {
  @apply text-textDate
}

.notes-input__form input,
.notes-input__form textarea {
  @apply
  bg-transparent 
  focus:outline-none
}

.modal__buttons button {
  @apply
  py-2 px-3
  border
  rounded-xl
  transition ease-in-out duration-75
}
